body{
    background-color: rgb(20, 157, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img{
    width: auto;
    height: auto;
}
form {
    background-color: rgb(245, 238, 238);
    width: 500px;
    height: 500px;
    background-origin: solid 1px black;
    border-radius: 10px;
}